<html lang="en">

<head>
  <% include ../partials/head %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />
    <script type="text/javascript" src="/js/function.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

</head>

<body class="container">
  <header>
    <% include ../partials/header %>
  </header>
  <main>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
          <div class="alert alert-danger">
            <%= message %>
          </div>
          <% } %>

            <% if(locals.type) { %>
            <%  if(type == 'member'){ %>
            <%    include ../partials/forms/signupMember %>
            <%  }else {%>
            <%    include ../partials/forms/signupUser %>
            <%  } %>
            <%}%>
              <hr>
              <p>Already have an account? <a href="/login">Login</a></p>
              <p>Or go <a href="/">home</a>.</p>

      </div>
    </div>
  </main>
  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

</html>
